<h1>All tasks:</h1>
<ol>
  <% @tasks.each do |t| %>
  <li>
    <% if t.completed  %>
      <%= '[X]' %>
      <% else %>
      <%= '[_]' %>
      <% end %>
    <%= link_to t.title, task_path(t) %>
    </%>
  </li>
  <% end %>
</ol>

<p>
  <%= link_to "Add a new task", new_task_path %>
</p>
